@model CRUDContacts.Models.Contact

<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>

    <div id="zatemnenie">
        <div id="okno">
            <form method="post">

                <div>
                    <label>Name</label>
                    <input type="text" asp-for="Name">
                </div>
                <div>
                    <label> MobilePhone</label>
                    <input type="tel" asp-for="MobilePhone">
                </div>
                <div>
                    <label>JobTitle</label>
                    <input type="text" asp-for="JobTitle">
                </div>
                <div>
                    <label>BirthDate</label>
                    <input type="date" asp-for="BirthDate">
                </div>
                <br>
                <button class="close">Закрыть окно </button>
            </form>
           
        </div>
    </div>
    <a href="#zatemnenie">Вызвать всплывающее окно</a>
    <script src="~/js/site.js"></script>
</body>